################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin

build
tartget
dist
nbproject
/.vs
/bin
/obj

tartget
node_modules
vendor
build
dist
/.vs/ecoeAppBackOffice/config
/.vs/ecoeAppBackOffice/v16
/ecoeAppBackOffice/package-lock.json
/bin
/tartget
/dist

/Java/Lab4/build/
/Java/Lab4/dist/
/Java/Lab5/nbproject/private/
/Java/Lab5/build/
/Java/Lab1/build/
/Java/Lab1/dist/
/Java/Lab7/nbproject/private/
/Java/Lab9/nbproject/private/
/Java/Lab8/nbproject/private/
/Java/Lab8/build/
/Java/Lab8/dist/
/Java/Lab3/build/
/Java/Lab3/dist/
/Java/Lab7/build/
/Java/Lab6/nbproject/private/
/Java/Lab6/build/
/ADF-2/Lab001/nbproject/private/
/ADF-2/Lab002/nbproject/private/
/ADF-2/Lab002/build/
/Java/Lab2/build/
/ADF-2/Lab004/nbproject/private/
/ADF-2/Lab004/build/
/Java/Lab9/build/
/ADF-2/SingletonPattern/nbproject/private/
/ADF-2/Lab005/nbproject/private/
/ADF-2/Lab005/build/
/ADF-2/Java006/nbproject/private/
/ADF-2/Java006/build/
/ADF-2/Java006/dist/
/ADF-2/Lab001/build/
/ADF-2/Java007/nbproject/private/
/ADF-2/Lab008/nbproject/private/
/ADF-2/Lab008/build/