<h4 scope="col">Id: {{ userDetail?.id }}</h4>
<h4 scope="col">Firstname: {{ userDetail?.firstName}}</h4>
<h4 scope="col">Lastname: {{ userDetail?.lastName}}</h4>
<h4 scope="col">Email: {{ userDetail?.email}}</h4>
<h4 scope="col">Gender: {{ userDetail?.gender}}</h4>
<h4 scope="col">{{ userDetail?.birthday | date:'dd/MM/yyyy'}}</h4>
<h4 scope="col">{{ userDetail?.salary}}</h4>
<h4 scope="col">{{ userDetail?.phone | phone }}</h4>

<a [routerLink]="['/user', 'u', { outlets: { view: ['view', userDetail?.id] } }]">View</a>